#!/bin/bash
#
# This script was created by puppet for removing
# voms-admin for the VO <%= @vo %>.

/usr/sbin/voms-configure remove \
      --hostname <%= @hostname %> \
      --vo <%= @guid  %> \
      --skip-voms-core \
      --core-port <%= @port %> \
      --dbtype  mysql \
      --dbusername  <%= @sqlusername %> \
      --dbpassword  `cat <%= @passfile  %>` \
      --dbname      <%= @sqldbname %> \
      --dbhost      <%= @sqlhost %> \
      --dbport      <%= @sqlport %> \
      --mail-from   <%= @mailfrom %> \
      --smtp-host   <%= @mailsmtp %> \
<% if @read_access_for_authenticated_clients -%>
      --read-access-for-authenticated-clients \
<% end -%>
<% if @disable_webui_requests  -%>
      --disable-webui-requests @disable_webui_requests \
<% end -%>

<% if @vo_aup_url  -%>
      --vo-aup-url @vo_aup_url \
<% end -%>
<% if @aa_cert -%>
      --aa-cert @aa_cert \
<% end -%>
<% if @aa_key -%>
      --aa-key @aa_key \
<% end -%>
<% if @aa_key -%>
      --saml-max-assertion-lifetime  @saml_max_assertion_lifetime \
<% end -%>


